{% if item.value.upstreams is defined %}
{% for upstream in item.value.upstreams %}
upstream {{ upstream.name }}.{{ item.value.upstream_suffix }} {
{% for node in item.value.nodes %}
  server     {{ node }}:{{ upstream.port }}  fail_timeout=10s;
{% endfor %}
{% if item.value.upstream_options is defined %}
{% for upstream_option in item.value.upstream_options %}
  {{ upstream_option }}
{% endfor %}
{% endif %}
}
{% endfor %}
{% endif %}

{% set ignore_logs = item.value.ignore_logs_ips is defined and item.value.ignore_logs_ips|length > 0 %}
{% if ignore_logs %}
map $remote_addr $log_ip {
{% for ip in item.value.ignore_logs_ips %}
  "{{ ip }}" 0;
{% endfor %}
  default 1;
}
{% endif %}

server {
  listen                *:80;
  server_name           {{ item.value.server_name }};

  client_max_body_size {{ item.value.client_max_body_size|default('50M') }};

  gzip_types text/plain text/css application/javascript application/xml application/json text/json text/xml text/javascript/image/svg+xml application/vnd.ms-fontobject application/x-font-ttf font/opentype;
  gzip_proxied any;
  proxy_intercept_errors on;
  error_page 404  /404.html;
  error_page 500 503 504 /50x.html;
  error_page 502 /502.html;

  if ($ssl_protocol = "") {
       return 301 https://$host$request_uri;
  }
  index  index.html index.htm index.php;

  access_log            /var/log/nginx/{{ item.value.server_name | replace(' ', '_') }}-80.access.log upstream_time {% if ignore_logs %}if=$log_ip{% endif %};
  error_log             /var/log/nginx/{{ item.value.server_name | replace(' ', '_') }}-80.error.log;

  location / {
    proxy_pass            http://portal.{{ item.value.upstream_suffix }};
    proxy_read_timeout    90;
    proxy_connect_timeout 90;
    proxy_redirect        off;


  }
}
server {
  listen       *:443 ssl;
  server_name  {{ item.value.server_name }};

  ssl on;

  ssl_certificate           {{ item.value.ssl_certificate }};
  ssl_certificate_key       {{ item.value.ssl_certificate_key }};
  ssl_session_cache         shared:SSL:10m;
  ssl_session_timeout       5m;
  ssl_protocols             TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers               ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA;
  ssl_prefer_server_ciphers on;


  client_max_body_size {{ item.value.client_max_body_size|default('50M') }};

  gzip_types text/plain text/css application/javascript application/xml application/json text/json text/xml text/javascript/image/svg+xml application/vnd.ms-fontobject application/x-font-ttf font/opentype;
  gzip_proxied any;
  index  index.html index.htm index.php;

  access_log            /var/log/nginx/{{ item.value.server_name | replace(' ', '_') }}.access.log upstream_time {% if item.value.ignore_logs is defined and item.value.ignore_logs %}if=$log_ip{% endif %};
  error_log             /var/log/nginx/{{ item.value.server_name | replace(' ', '_') }}.error.log;

  proxy_intercept_errors on;
  error_page 404  /404.html;
  error_page 500 503 504 /50x.html;
  error_page 502 /502.html;

{% if item.value.options is defined %}
{% for option in item.value.options %}
  {{ option }}
{% endfor %}
{% endif %}

  rewrite ^/cas/logout$ {{ item.value.logout_cas|default('/timeline/timeline') }} redirect; 

{% if item.value.document_root is defined %}
  location /userbook/avatar/{
    #try thumbnail
    if ($uri ~ "^/userbook/avatar/(.{32})(.{2})(.{2})") {
        set $path "avatars/$3/$2/$arg_thumbnail-$1$2$3";
    }
    # if exists return
    if (-f "{{ item.value.document_root }}/$path") {
        rewrite .* "/$path" last;
    }
    #if not exists try default size
    if ($uri ~ "^/userbook/avatar/(.{32})(.{2})(.{2})") {
        set $path "avatars/$3/$2/$1$2$3";
    }
    # if not exists try default avatar
    if (!-f "{{ item.value.document_root }}/$path"){
        set $path "avatars/ar/at/no-avatar.png";
    }
    # return
    rewrite .* "/$path" last;
  }
{% endif %}

{% if item.value.authentication.file is defined %}
  location = /auth/login {
    auth_basic                  "Restricted";
    auth_basic_user_file        {{ item.value.authentication.file }};

    proxy_pass            http://auth.{{ item.value.upstream_suffix }};
    proxy_redirect        off;
    proxy_set_header      Host $host;
    proxy_set_header      X-Real-IP $remote_addr;
    proxy_set_header      X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header      X-Forwarded-Proto $scheme;
    proxy_read_timeout    {{ item.value.proxy_read_timeout|default('90') }};
    proxy_connect_timeout {{ item.value.proxy_read_timeout|default('90') }};
{% if item.value.cors is defined %}
    # CORS configuration
    add_header 'Access-Control-Allow-Origin' '{{item.value.cors}}';
    add_header 'Access-Control-Allow-Methods' 'POST';
    add_header 'Access-Control-Allow-Methods' 'PUT';
    add_header 'Access-Control-Allow-Headers' 'authorization';
    add_header 'Access-Control-Allow-Credentials' 'true';
	  add_header 'Access-Control-Expose-Headers' 'Location';
    if ($request_method = 'OPTIONS') {
         return 204;
    }
{% endif %}
  }
{% endif %}

  location /userbook {
    proxy_pass            http://directory.{{ item.value.upstream_suffix }};
    proxy_read_timeout    90;
    proxy_connect_timeout 90;
    proxy_redirect        off;

    proxy_set_header      Host $host;
    proxy_set_header      X-Real-IP $remote_addr;
    proxy_set_header      X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header      X-Forwarded-Proto $scheme;
{% if item.value.cors is defined %}
    # CORS configuration
    add_header 'Access-Control-Allow-Origin' '{{item.value.cors}}';
    add_header 'Access-Control-Allow-Methods' 'POST';
    add_header 'Access-Control-Allow-Methods' 'PUT';
    add_header 'Access-Control-Allow-Headers' 'authorization';
    add_header 'Access-Control-Allow-Credentials' 'true';
	add_header 'Access-Control-Expose-Headers' 'Location';
    if ($request_method = 'OPTIONS') {
         return 204;
    }
{% endif %}

  }

{% if item.value.upstreams is defined %}
{% for upstream in item.value.upstreams %}
{% if upstream.name != 'portal' %}
{% if upstream.location is defined %}
  location /{{ upstream.location }} {
{% else %}
  location /{{ upstream.name }} {
{% endif %}
{% else %}
  location / {
{% endif %}
    proxy_pass            http://{{ upstream.name }}.{{ item.value.upstream_suffix }};
    proxy_redirect        off;
    proxy_set_header      Host $host;
    proxy_set_header      X-Real-IP $remote_addr;
    proxy_set_header      X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header      X-Forwarded-Proto $scheme;
{% if upstream.is_websocket is defined and upstream.is_websocket %}
    proxy_read_timeout    1d;
    proxy_connect_timeout 1d;
    proxy_send_timeout    1d;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
{% else %}
    proxy_read_timeout    {{ item.value.proxy_read_timeout|default('90') }};
{% if upstream.name != 'archive' %}
    proxy_connect_timeout {{ item.value.proxy_connect_timeout|default('90') }};
{% else %}
	proxy_connect_timeout {{ item.value.proxy_connect_timeout|default('900') }};
{% endif %}
{% endif %}
{% if upstream.options is defined %}
    # extra options
{% for option in upstream.options %}
    {{ option }};
{% endfor %}
{% endif %}
{% if item.value.cors is defined %}
    # CORS configuration
    add_header 'Access-Control-Allow-Origin' '{{item.value.cors}}';
    add_header 'Access-Control-Allow-Methods' 'POST';
    add_header 'Access-Control-Allow-Methods' 'PUT';
    add_header 'Access-Control-Allow-Headers' 'authorization';
    add_header 'Access-Control-Allow-Credentials' 'true';
	  add_header 'Access-Control-Expose-Headers' 'Location';
    if ($request_method = 'OPTIONS') {
         return 204;
    }
{% endif %}
  }
  
{% endfor %}
{% endif %}

{% if item.value.etherpad_host is defined %}
  location = /pad                { deny all; }
  location = /pad/                { deny all; }

  location /pad {
    rewrite ^/pad(/.*)$ $1 break;
    proxy_pass        http://{{ item.value.etherpad_host }}:8102;
    proxy_buffering   off;
    proxy_set_header  Host             $host;
    proxy_set_header  X-Real-IP        $remote_addr;
    proxy_set_header  X-Forwarded-For  $remote_addr;
    proxy_set_header  X-Forwarded-Proto $scheme;
  #Conf required for websocket
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
{% if item.value.cors is defined %}
    # CORS configuration
    add_header 'Access-Control-Allow-Origin' '{{item.value.cors}}';
    add_header 'Access-Control-Allow-Methods' 'POST';
    add_header 'Access-Control-Allow-Methods' 'PUT';
    add_header 'Access-Control-Allow-Headers' 'authorization';
    add_header 'Access-Control-Allow-Credentials' 'true';
	add_header 'Access-Control-Expose-Headers' 'Location';
    if ($request_method = 'OPTIONS') {
         return 204;
    }
{% endif %}

  }
{% endif %}

{% if item.value.gomail_host is defined %}
  location /pixel {
    proxy_pass        http://{{ item.value.gomail_host }}:7500;
    proxy_buffering   off;
    proxy_set_header  Host             $host;
    proxy_set_header  X-Real-IP        $remote_addr;
    proxy_set_header  X-Forwarded-For  $proxy_add_x_forwarded_for;
    proxy_set_header  X-Forwarded-Proto $scheme;
  }
{% endif %}

{% if item.value.document_root is defined %}
  location /avatars/ {
    root {{ item.value.document_root }};
    autoindex off;
    index index.html index.htm index.php;
    add_header Cache-Control must-revalidate;
    etag on;
    if_modified_since exact;
    expires epoch;
  }
{% endif %}

{% if item.value.serve_statics %}
  location /404.html {
    root {{ item.value.statics_path }}/errors;
  }
  location /50x.html {
    root {{ item.value.statics_path }}/errors;
  }
  location /502.html {
    root {{ item.value.statics_path }}/errors;
  }
  location /help-1d/ {
    root      {{ item.value.statics_path }};
    autoindex off;
    index     index.html index.htm index.php;
  }
  location /help-2d/ {
    root      {{ item.value.statics_path }};
    autoindex off;
    index     index.html index.htm index.php;
  }


{% if item.value.upstreams is defined %}
{% for upstream in item.value.upstreams %}
{% if upstream != 'portal' %}
{% if upstream.location is defined %}
  location /{{ upstream.location }}/public/ {
{% else %}
  location /{{ upstream.name }}/public/ {
{% endif %}
    {% if item.value.cors is defined and item.value.cors and upstream.cors is defined  %}
    if ($request_method = 'OPTIONS') {
      add_header 'Access-Control-Allow-Origin' '{{item.value.cors}}';
      add_header 'Access-Control-Allow-Methods' 'GET, OPTIONS';
      add_header 'Access-Control-Max-Age' 86400;
      add_header 'Content-Type' 'text/plain charset=UTF-8';
      add_header 'Content-Length' 0;
      return 204;
    }
    if ($request_method = 'GET') {
      add_header 'Access-Control-Allow-Origin' '{{item.value.cors}}';
      add_header 'Access-Control-Allow-Methods' 'GET, OPTIONS';
    }


    {% endif %}

    root {{ item.value.statics_path }};
{% else %}
  location /public/ {
    root {{ item.value.statics_path }}/portal/;
{% endif %}
    autoindex off;
    index index.html index.htm index.php;
  }
{% endfor %}
{% endif %}
  
{% endif %}
}
