{{ nginx_log_dir }}/*.log {
        rotate 52
        daily
        missingok
        dateext
        copytruncate
        notifempty
        compress
        create 640 {{ nginx_user }} adm
        sharedscripts
        postrotate
                if [ -f {{ nginx_pid_file }} ]; then
                        kill -USR1 `cat {{ nginx_pid_file }}`
                fi
        endscript
}
