#{{ ansible_managed }}
user              {{ nginx_user }}  {{ nginx_group }};

worker_processes  {{ nginx_worker_processes }};

{% if nginx_pid_file %}
pid        {{ nginx_pid_file }};
{% endif %}

worker_rlimit_nofile {{ nginx_worker_rlimit_nofile }};

events {
{% for v in nginx_events_params %}
        {{ v }};
{% endfor %}
}


http {

        include {{ nginx_conf_dir }}/mime.types;
        default_type application/octet-stream;
{% for v in nginx_http_params %}
        {{ v }}
{% endfor %}

        log_format apm '"$time_local" client=$remote_addr '
               'method=$request_method request="$request" '
               'request_length=$request_length '
               'status=$status bytes_sent=$bytes_sent '
               'body_bytes_sent=$body_bytes_sent '
               'referer=$http_referer '
               'user_agent="$http_user_agent" '
               'upstream_addr=$upstream_addr '
               'upstream_status=$upstream_status '
               'request_time=$request_time '
               'upstream_response_time=$upstream_response_time '
               'upstream_connect_time=$upstream_connect_time '
               'upstream_header_time=$upstream_header_time';

	log_format upstream_time '$remote_addr - $remote_user [$time_local] '
		'"$request" $status $body_bytes_sent '
		'"$http_referer" "$http_user_agent"'
		'rt=$request_time uct="$upstream_connect_time" uht="$upstream_header_time" urt="$upstream_response_time"';

        include {{ nginx_conf_dir }}/conf.d/*.conf;
        include {{ nginx_conf_dir }}/sites-enabled/*;
}

{% if nginx_official_repo_mainline %}
stream {

{% for v in nginx_stream_params %}
        {{ v }};
{% endfor %}

        include {{ nginx_conf_dir }}/conf.d/stream/*.conf;
}
{% endif %}

{% if nginx_daemon_mode == "off" %}
daemon off;
{% endif %}
